target
.project
.classpath
.settings
.idea
*.iml
*.chain
*.spvchain
core/.gradle/
core/build.gradle
core/gradle/
core/gradlew
core/gradlew.bat
core/settings.gradle
core/local.properties
core/src/build.gradle

